<h1> Welcome to The Best Sitemap Creator</h1>
<ul> <h3>Notes:</h3> 
  <li> Use the form field below to enter the url of the site you'd like to map. You MUST use the following format http://example_domain_name.top_level_domain. For example (http://flatironschool.com).</li> 
  <li> Depending on the size of the entered site, the map may take some time to be generated</li>
  <li> The depth level of a link within the website is represented by it's indentation. Every "--" represents one level of depth starting at the provided url. Indented items are subjugated to the less intended items immediately above them</li>
  <li class="internal"> Links in blue represent internal links.</li>
  <li class="external"> Links in red represent external links. External links are listed but not pursued</li>
  <li class="an_image"> Links in italics represent images</li>  

  </ul>
<h5>For more information about this app, check out the <a href="https://github.com/gs2589/web_crawler_example/blob/master/README.rdoc">readme</a> and the <a href="https://github.com/gs2589/web_crawler_example">source code</a></h5>


<form action="/">
  Enter URL Here : <input type="text" name="url"><br>
  <input type="submit" value="Submit">
  <br>
  Suggested examples:
  <ul><li>http://example.org</li><li>http://flatironschool.com</li>
</form>



<%if @tree%>
<h2> Here is the generated map of your site: </h2>
  <% @tree.each do |url_string, data| %> 
    <% classes= "#{data[:internal] + data[:image]}" %>
    <a class="<%=classes%>" href=<%=data[:url]%>><%="#{url_string}"%></a><br>
  

  <% end %>
<%end%>